<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="style.css">
<title>Zipbit</title>
</head>
<body>
  <div id="navbar">
    <ul>
      <li><a href ="/">Zipbit</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/userlistings">My Listings</a></li>
      <li><a href="/login">Login</a></li>

    </ul>
  </div>
  <%= yield %>
</body>
</html>