<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stlyesheet" href="/css/application.css">
<title>Zipbit</title>
</head>
<body>
  <a href ="/">Zipbit</a>
  <%= yield %>
</body>
</html>