

<h1>Create your account</h1>
<div class ="flash"><%=flash[:notice] %></div>
<form method="post" action="/signupcomplete">
  <div class="field">
      <label for="user_name">Username:</label>
      <input type="text" class="input" name="user_name" id="user_name" />
  </div>
   
  <div class="field">
      <label for="password">Password:</label>
      <input type="text" class="input" name="password" id="password" />
  </div>
  <button type="submit">Sign Up!</button>
</form>