#navbar {
background-color: #F5F5F5;
font-family: Verdana, Helvetica, Arial, sans-serif;
padding: 1px;
}

#navbar ul li {
list-style-type: none;
}

#navbar a:link, a:visited {
text-decoration: none;
}

#navbar ul li a:link {
  color: #84978F;
}

#navbar ul li a:visited {
  color: #527578;
}

#navbar ul li a:hover {
  color: #ADA692;
}
#navbar ul {
  padding-left: 3px;
  margin-left: 0;
}

#navbar li {
  display:inline;
  padding-left:10px;
}

h1 {
  text-align: center;
  color: #47423F;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: #84978F;
}

input {
  padding: 4px;

}

#mainbody {
  margin: 30px;
}

input[type="submit"]{
  background: red;
  color: white;
}

.flash {
  color: #685278;
  padding: 5px;
  font-size: 14px;
}


.flash_error {
  color: red;
  padding: 5px;
  font-size: 14px;
}